<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Menu</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="tablesDropdown" role="button" data-bs-toggle="dropdown">
            Tables
          </a>
          <ul class="dropdown-menu" aria-labelledby="tablesDropdown">
            <li><a class="dropdown-item" href="http://localhost:8080/projects">Projects</a></li>
            <li><a class="dropdown-item" href="http://localhost:8080/employees">Employees</a></li>
            <li><a class="dropdown-item" href="http://localhost:8080/equipments">Equipments</a></li>
            <li><a class="dropdown-item" href="http://localhost:8080/taches">Tasks</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex">
        <a href="#signout" class="btn btn-danger">Sign Out</a>
      </form>
    </div>
  </div>
</nav>