<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"></head>
<body>

<div th:if="${error}" class="alert alert-danger">
    <p th:text="${error}"></p>
</div>

<form th:action="@{/taches/edit/{id}(id=${tache.idTache})}" th:object="${tache}" method="post">
    <input type="text" th:field="*{idTache}" readonly><br>
    <div class="mb-3">
        <label for="status" class="form-label">Status:</label>
        <select id="status" class="form-select" th:field="*{status}" >
            <option value="" disabled selected>Select Status</option>
            <option value="finished">finished</option>
            <option value="unfinished">unfinished</option>

        </select>
    </div>
    <textarea th:field="*{description}"></textarea><br>
    <input type="text" th:field="*{startDate}"><br>
    <input type="text" th:field="*{endDate}"><br>
    <input type="number" th:field="*{idProject}"><br>
    <button type="submit" class="btn btn-primary">Update task</button>

</form>

</body>
</html>
