<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Project List</title>

</head>
<body>
<h1>List of Projects</h1>

<!-- Success Message -->
<div th:if="${success}" class="alert alert-success">
    <p th:text="${success}"></p>
</div>

<!-- Error Message -->
<div th:if="${error}" class="alert alert-danger">
    <p th:text="${error}"></p>
</div>

<!-- Projects Table -->
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Status</th>
        <th>Tasks</th>
        <th>actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="project : ${projects}">
        <td th:text="${project.idProject}"></td>
        <td th:text="${project.name}"></td>
        <td th:text="${project.status}"></td>
        <td>
            <!-- Iterate over the list of tasks -->
            <!-- Check if tasks exist -->
            <ul>
                <li th:each="task : ${project.taches}">
                    <strong>Description:</strong> <span th:text="${task.description}"></span><br>
                    <strong>Status:</strong> <span th:text="${task.status}"></span><br>
                    <strong>Start Date:</strong> <span th:text="${task.startDate}"></span><br>
                    <strong>End Date:</strong> <span th:text="${task.endDate}"></span><br>
                    <strong>Employees:</strong> <span th:text="${task.employees}"></span><br>
                    <strong>Equipments:</strong> <span th:text="${task.equipments}"></span>
                </li>
            </ul>
            <!-- Message if no tasks are available -->
            <p th:if="${project.taches == null || project.taches.isEmpty()}">No tasks available</p>
        </td>
        <td>
            <a th:href="@{/projects/edit/{id}/(id=${project.idProject})}">update</a>
            <a th:href="@{/projects/delete/{id}/(id=${project.idProject})}">delete</a>

        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/projects/new}">add a project</a>
</body>
</html>
