<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Project List</title>

</head>
<body>
<a href="/export-xml?filename=projects.xml" download>export projects.xml</a>

<h1 class="text-center text">List of Projects</h1>

<!-- Success Message -->
<div th:if="${success}" class="alert alert-success">
    <p th:text="${success}"></p>
</div>

<!-- Error Message -->
<div th:if="${error}" class="alert alert-danger">
    <p th:text="${error}"></p>
</div><button class=" btn btn-primary mb-1 text-center ms-4 p-2" >
<a th:href="@{/projects/new}" style="text-decoration:none; color:white;">add a project</a></button>
<br>
<!-- Projects Table -->
<table border="1" class="table table-bordered table-striped table-hover">
    <thead class="table-dark">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Status</th>
        <th>Tasks</th>
        <th>actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="project : ${projects}">
        <td th:text="${project.idProject}"></td>
        <td th:text="${project.name}"></td>
        <td th:text="${project.status}"></td>
        <td>
            <!-- Iterate over the list of tasks -->
            <!-- Check if tasks exist -->
            <ul>
                <li th:each="task : ${project.taches}">
                    <strong>Description:</strong> <span th:text="${task.description}"></span><br>
                    <strong>Status:</strong> <span th:text="${task.status}"></span><br>
                    <strong>Start Date:</strong> <span th:text="${task.startDate}"></span><br>
                    <strong>End Date:</strong> <span th:text="${task.endDate}"></span><br>
                   <strong>Employees:</strong>

                        <div th:each="employee : ${task.employees}">Employee
                            <ul>
                           <li> Name: <span th:text="${employee.nom}"></span><br></li>
                           <li> Surname: <span th:text="${employee.prenom}"></span><br></li>
                            <li>Certification: <span th:text="${employee.certification}"></span><br></li>
                           <li> Speciality: <span th:text="${employee.speciality}"></span></li>
                            </ul>
                        </div>
                    <strong>Equipments:</strong>
                    <div th:each="equipment : ${task.equipments}">Equipments
                        <ul>
                            <li> Name: <span th:text="${equipment.name}"></span><br></li>
                            <li> status: <span th:text="${equipment.status}"></span><br></li>
                            <li>category: <span th:text="${equipment.category}"></span><br></li>
                        </ul>
                    </div>


                </li>
            </ul>
            <!-- Message if no tasks are available -->
            <p th:if="${project.taches == null || project.taches.isEmpty()}">No tasks available</p>
        </td>
        <td class="align-items-center">
            <button class=" btn btn-secondary mb-1 text-center ms-4 p-2" ><a style="text-decoration:none; color:white;" th:href="@{/projects/edit/{id}(id=${project.idProject})}">update status</a></button>
            <button class=" btn btn-danger mb-1 text-center ms-4 p-2" ><a style="text-decoration:none; color:white;" th:href="@{/projects/delete/{id}(id=${project.idProject})}">delete</a></button>

        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
